body {
    background: url('https://images.unsplash.com/photo-1577400983943-874919eca6ce?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.btn {
    width: 40px;
    height: 40px;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.btn.edit {
    background-image: url('http://localhost/glasses/icons/Edit_Square_stroke.svg');
}

.btn.save {
    background-image: url('http://localhost/glasses/icons/Tick_Square_stroke.svg');
}

.btn.cancel {
    background-image: url('http://localhost/glasses/icons/Cross_Square_stroke.svg');
}

.btn.delete {
    background-image: url('http://localhost/glasses/icons/Delete_stroke.svg');
}

.btn:hover {
    /* Hover effect for all buttons */
    filter: brightness(1.2);
    /* Example: Increase brightness */
}

/* Hover effect for specific buttons */
.btn.edit:hover {
    background-image: url('http://localhost/glasses/icons/Edit_Square_filled.svg');
}

.btn.save:hover {
    background-image: url('http://localhost/glasses/icons/Tick_Square_filled.svg');
}

.btn.cancel:hover {
    background-image: url('http://localhost/glasses/icons/Cross_Square_filled.svg');
}

.btn.delete:hover {
    background-image: url('http://localhost/glasses/icons/Delete_filled.svg');
}

@keyframes fade {
    0% {
        background-color: #fbd7c7;
    }

    50% {
        background-color: rgba(255, 255, 255, 0);
    }

    100% {
        background-color: #fbd7c7;
    }
}

.editable-active {
    animation: fade 2s infinite;
    /* Adjust the duration and timing function as needed */
}


.lf {
    margin: 15px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.lf h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.lf input[type="text"],
.lf input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.lf input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #008ad3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.lf input[type="submit"]:hover {
    background-color: #00578a;
}

.alert {
    margin-top: 20px;
}

/* Custom CSS for the FAB */
.fab-container {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    /* Ensure it's above other elements */
}

.fab-container :hover {
    box-shadow: 0px 0px 10px 5px white;
    border-radius: 10px;
    background-color: #f4d2c4;
}

.footer {
    margin: 15px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);

    bottom: 0;
    color: black;
    text-align: left;
}

.footer a {
    color: black;
}

.spacer-row {
    height: 20px;
}

main {

    padding: 100px;
    display: grid;
    place-items: center;
    min-height: auto;
    position: absolute;
    right: 10%;
    top: 173px;
    transition: top 0.3s ease;
    /* Add transition for smooth animation */

}

/* CSS for hiding main element at specific screen width */
@media screen and (max-width: 768px) {
    main {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    main {
        top: 173px;
    }
}

#eyes,
#eyes img {
    position: absolute;
}